.departmentTable a:hover,
.personal-info a:hover,
.view_all_doctor a:hover,
.contact-info a:hover{
    text-decoration: underline;
}

/* Doctor Profile Basic Info Style */
.card-box {
    border: 1px solid #ebeff2;
    border-radius: 5px;
    padding: 20px;
}

.card-title {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.basic-info {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
}

.info-item {
    display: flex;
    align-items: center;
}

.info-label {
    font-weight: bold;
    margin-right: 10px;
    width: 120px;
}

.info-value {
    color: #666;
}

.address-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.address-info p {
    margin-bottom: 5px;
}
.w-40.rounded-circle:hover {
opacity: 0.6;
}
/* Notifications checkbox */
.checkbox-container {
    margin-right: 10px;
}

.notification-checkbox {
    position: relative;
    top: 7px;
}

.topnav-dropdown-footer #mark-all-read {
    text-decoration: none;
    color: #333;
    transition: background-color 0.1s, transform 0.1s;
}

.topnav-dropdown-footer #mark-all-read:hover{
    background-color: #f0f0f0;
    color: #000;
    transform: scale(1.1);
}
/* Department detail style */
.counter-box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.counter-box:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.counter {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.patient_table thead tr th{
    font-weight: 500;
}
.new-patient-table thead tr th{
    font-weight: 500;
}
.patient_table tbody tr td{
    font-weight: 300;
}
.medical_report{
    height: 260px;
    width: 100%;
}