.departmentTable a:hover,
.personal-info a:hover,
.view_all_doctor a:hover,
.contact-info a:hover{
    text-decoration: underline;
}

/* Doctor Profile Basic Info Style */
.card-box {
    border: 1px solid #ebeff2;
    border-radius: 5px;
    padding: 20px;
}

.card-title {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.basic-info {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
}

.info-item {
    display: flex;
    align-items: center;
}

.info-label {
    font-weight: bold;
    margin-right: 10px;
    width: 120px;
}

.info-value {
    color: #666;
}

.address-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.address-info p {
    margin-bottom: 5px;
}
.w-40.rounded-circle:hover {
opacity: 0.6;
}
/* Notifications checkbox */
.checkbox-container {
    margin-right: 10px;
}

.notification-checkbox {
    position: relative;
    top: 7px;
}

.topnav-dropdown-footer #mark-all-read {
    text-decoration: none;
    color: #333;
    transition: background-color 0.1s, transform 0.1s;
}

.topnav-dropdown-footer #mark-all-read:hover{
    background-color: #f0f0f0;
    color: #000;
    transform: scale(1.1);
}
/* Department detail style */
.counter-box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.counter-box:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.counter {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.patient_table thead tr th{
    font-weight: 500;
}
.new-patient-table thead tr th{
    font-weight: 500;
}
.patient_table tbody tr td{
    font-weight: 300;
}
.medical_report{
    height: 260px;
    width: 100%;
}

.breadcrumbs-div{
    background-color: #e9ecef;
    border-radius: 4px;
    height: 52px;
    margin: 0;
}
.page-wrapper nav .breadcrumb {
    margin: 0px !important;
}

/* Setting styles */
.setting-wrapper {
    left: 0;
    padding-top: 50px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.setting-wrapper > .content {
    padding: 30px;
}

.nav-link {
    color: #009efb;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #009efb;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.setting-wrapper nav .breadcrumb {
    margin: 0px !important;
}

/* Roles & Permissions table style */
#roles {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
#roles thead tr th{
  margin: 0;
  text-align: center;
  vertical-align: middle;
}
#roles td {
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}
#roles tr td {
    padding: 5px 0;
}

/* Toogle Check box button */
.toggle-switch {
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  margin-top: 0;
}
.permission_name{
    margin-bottom: 0;
    line-height: 25px;
}

.toggle-switch input {
  display: none;
}

.toggle-switch label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 1px;
  left: 1px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-switch input:checked + label {
  background-color: #28a745;  /* Color when checked (green) */
}

.toggle-switch input:checked + label::before {
  transform: translateX(25px);  /* Move the sliding part to the right when checked */
}

#gallery_album {
    transition: transform 0.2s;
}
#gallery_album:hover {
  transform: scale(1.05);
}
.album-title{
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 400;
}
.album-title:hover{
    text-decoration: underline;
    color: #009efb;
}

.photo-card {
    overflow: auto;
    height: 230px;
    width: 230px;
    padding: 10px;
}

.photo-card img {
    max-width: 100%;
    height: 80%;
    border-radius: 10px;
}

.add-photo-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    border-radius: 10px;
    cursor: pointer;
    height: 100px;
    width: 220px;
    background-color: #f7f7f7;
}

.add-photo-card p{
    margin: 0;
}

.add-photo-card:hover {
    background-color: #e0e0e0;
}
.add-photo-card input[type='file'] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

#searchbar{
    background-color: #e9ecef;
    border-radius: 5px;
    margin:  10px 0;
    padding-top: 15px;
}
/* Menu Status Toggle Switch Button */

.status_toggle_switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.status_toggle_input {
  opacity: 0;
  width: 0;
  height: 0;
}

.status_toggle_label {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

.status_toggle_label:before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.status_toggle_input:checked + .status_toggle_label {
  background-color: #4CAF50;
}

.status_toggle_input:checked + .status_toggle_label:before {
  transform: translateX(25px);
}
.menu_table thead tr th{
    font-size: 0.9rem;
}
.menu_table tbody tr td{
    font-size: 0.9rem;
}
.menu_table{
    text-align: center;
}